{erl_opts, [debug_info, {i, "../hyperbeam-edge-clean/src"}]}.

{plugins, [
    rebar3_path_deps,
    {hb_device, {path, "apps/hb_device"}}
]}.

{hb_device, [
    {roots, [
        dev_aopayment,
        dev_arweave_byte_pricing,
        dev_bundler_settlement,
        dev_pricing_router,
        dev_process_ledger,
        dev_simple_oracle
    ]},
    {includes, ["../hyperbeam-edge-clean/src"]},
    {out_dir, "_build/default/packaged-devices"}
]}.
